<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>

    <script src="/js/Chart.js"></script>
    <style>
        #all {
            width: 100%;
            background-color: #777777;
        }
        #chart{
            position: relative;
            float: left;
        }
        #right{
            left: 40px;
            position: absolute;
            top: 24px;
            width: 190px;
        }
        .box{
            height: 15px;
            width: 15px;
        }
    </style>
</head>
<body>
<div id="chart">
    <canvas id="myChart" width="1000" height="600"></canvas>
</div>
<div id="right">
    <label><strong>Legend</strong></label>

    <table>
        <tbody data-bind="foreach: legend.items">
        <tr>
            <td class="box" data-bind="style: {backgroundColor: color}"></td>
            <td data-bind="text: label"></td>
            <td data-bind="text: value"></td>
            <td data-bind="text: unit"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>

    $(document).ready(function() {
        var chart;
        var chartOpts = {
            pointDot: false,
            datasetStrokeWidth: 1,
            animation: false
//            legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        };
        var data = null;
        function LegendVm() {
            var self = this;
            self.items = ko.observableArray([]);

            self.additem = function(label, value, unit, color){
                self.items.push({label: label, value: value, unit: unit, color: color})
            };
            self.updateVal = function(data, pos){
                var old = JSON.parse(JSON.stringify(self.items()[pos]));
                old.value = data;
                self.items.replace(self.items()[pos], old);
            }
        }

        var vm = {
            legend: new LegendVm()
        };
        ko.applyBindings(vm);
        var ctx = document.getElementById("myChart").getContext("2d");
//        Chart.defaults.global={
//            responsive: true
//        };
        var myLineChart = new Chart(ctx);

        $.get("getData", function(data) {
            chart = myLineChart.Line(data, chartOpts);
            makeLegend(data);
        });

        setInterval(function() {
            update();

        }, 60000);
        function makeLegend(data){
            for(var i=0; i<data.datasets.length; i++){
                var item = data.datasets[i];
                vm.legend.additem(item.label, item.data[item.data.length-1], item.unit, item.strokeColor);
            }
        }
        function updateLegend(data){
            for(var i=0; i<data.length; i++){
                vm.legend.updateVal(data[i], i);
            }
        }
        function update() {
            $.get("getLatest", function(data) {
                chart.removeData();
                //{"label":"","data":["7.7","23.3","33.1","33.6","6.4"]}
                chart.addData(data.data, data.label);
                updateLegend(data.data);
            });
        }
    });

</script>



</body>
</html>